includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon
    - vendor/pestphp/pest/extension.neon

parameters:
    scanFiles:
        - _ide_helper_models.php

    paths:
        - app/
        - bootstrap/app.php
        - config/
        - database/
        - routes/

    level: 7
